@media only screen
    and (min-device-width: 1024px) {
    #banner_title {
        text-shadow: 4px 4px 4px #aaa;
        font-size: 26px;
    }

    #login_info {
        font-size: 18px;
    }
}

/* Properties for mobile devices */
@media only screen
  /*and (min-device-width: 414px)*/
  and (max-device-width: 800px) {
    #banner_title {
        text-shadow: 4px 4px 4px #aaa;
        font-size: 18px;
    }

    #login_info {
        font-size: 13px;
    }

    .CodeMirror > .CodeMirror-line {
        font-size: 12px;
    }

    .button-text {
        font-size: 9px;
    }
}

.input-group-btn > .btn {
    padding: 6px;
}

html,
body {
    width: 100%;
    overflow: hidden;
}

body {
    background: rgba(187, 210, 207, 0.07) url(../imgs/contentbg.png) repeat;
}

/* Login styles */
.absolute_center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.login_body {
    padding: 20px;
    width: 325px;
    background: white;
    border: 2px solid #b1ac9c;
    border-radius: 5px;
    box-shadow: 0 0 30px #BBB;
}

#login_box {
    height: 380px;
}

#register_box {
    height: 500px;
}

.login_title {
    padding-left: 5px;
    padding-right: 5px;
}

/* Main page styles */
#banner_title {
    margin: 8px auto 8px 20px;
    float: left;
}

.pp-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.top {
    position: relative;
    /*width: 98%;*/
    height: auto;
    margin: 5px;
    background: white;
    border: 1px solid #999;
    border-radius: 5px;
    box-shadow: 0 0 30px #BBB;
}

#top_bar {
    border-bottom: 2px solid #e7e7e7;
}

.ting-brand {
    position: relative;
    width: 30px;
    /*height: 40px;*/
    display: inline-block;
    /*padding: 0px 5px 0px 5px;*/
    margin: 5px 5px 5px 30px;
}

.ting-brand-login {
    float: left;
    width: 35px;
}

#bug_view_panel {
    position: absolute;
    top: 56px;
    left: 26px;
    bottom: 26px;
    right: 26px;
    /*border: 1px solid #e7e7e7;*/
    background-color: white;
    /*border-left: 1px solid #e7e7e7;*/
    /*border-right: 1px solid #e7e7e7;*/
}

.grid {
    position: absolute;
    background-color: #f8f8f8;
}

#main_grid {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#left_grid {
    top: 0;
    left: 0;
    width: 27%;
    height: 100%
}

#middle_grid {
    top: 0;
    left: 27%;
    width: 59%;
    height: 100%;
}

#right_grid {
    top: 0;
    left: 86%;
    width: 14%;
    height: 100%;
}

#bottom_grid {
    display: none;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
}

.pp_panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
}

.pp_panel.left_panel {
    right: 3px;
}

.pp_panel.right_panel {
    left: 3px;
}

.pp_panel.bottom_panel {
    top :3px;
}

.resize_bar {
    position: absolute;
    background-color: #DDD;
}

.vertical_resize_bar {
    width: 3px;
    height: 100%;
    cursor: col-resize;
}

.horizontal_resize_bar {
    width: 100%;
    height: 3px;
    cursor: row-resize;
}

#left_resize_bar {
    top: 0;
    right: 0;
}

#right_resize_bar {
    top: 0;
    left: 0;
}

#bottom_resize_bar {
    top: 0;
    left: 0;
}

.tool_bar {
    position: fixed;
    top: 56px;
    bottom: 26px;
    width: 26px;
    background-color: #f8f8f8;
}

#left_tool_bar {
    left: 0;
    border-right: 1px solid #e7e7e7;
}

#right_tool_bar {
    right: 0;
    border-left: 1px solid #e7e7e7;
}

.tool_button {
    position: absolute;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
    white-space: nowrap;
    cursor: pointer;
}

#left_tool_bar .tool_button {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

#right_tool_bar .tool_button {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 0 0;
}

#tool_control {
    top: 105px;
    left: 0;
    width: 105px;
}

#tool_trace {
    top: 0;
    left: 100%;
}

.tool_button.active {
    background-color: #CCC;
}

.tool_button:hover {
    background-color: #BBB;
}

#foot_bar {
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    /*text-align: center;*/
    /*font-size: 18px;*/
    position: fixed;
    width: 100%;
    height: 26px;
    bottom: 0;
}

#tool_br_detail {
    top: 0;
    left: 26px;
}

#compare_panel {
    z-index: 2;
}


.selector_wrapper {
    float: left;
    width: calc(100% - 85px);
}

.summary_table {
    width: 100%;
    border-top: 1px solid #ddd;
}

.summary_table tbody {
    overflow-x: auto;
    overflow-y: auto;
}


/* Styles for bug summary table */
.summary_table thead > tr > th {
    border: 1px solid #ddd;
}

.summary_table tr {
    text-align: right;
    font-weight: bold;
}

.summary_table tr:hover {
    background-color: #adc6ff;
    color: black;
    cursor: pointer;
}

.summary_table .dataTables_empty {
    font-weight: normal;
}

.summary_table .dataTables_empty:hover {
    background-color: white;
    cursor: default;
}

.summary_table tr.viewed {
    font-weight: normal;
}

.summary_table tr.onview {
    background-color: #adc6ff;
}

.summary_table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summary_table .bug_loc_td {
    direction: rtl;
}

.summary_table th {
    text-align: right;
    background: #f8f8f8;
    font-weight: bold;
}

.dominated {
    background-color: #ffe448;
}

.invalid {
    background-color: #ff98a7;
}

.dom_and_invalid {
    background-color: #beacff;
}

#context_menu {
    display: none;
    position: fixed;
}

/* Styles for displaying code and inline tips */
#code_window {
    width: 100%;
    height: 100%;
    float: left;
    overflow-y: auto;
    overflow-x: auto;
}

#code_window input {
    display: inline;
}

.CodeMirror {
    height: 100%;
}

.code_loading {
    cursor:progress;
}

.CodeMirror-linewidget {
    margin: 4px 1px;
}

.trace_tip {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.88);
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    border: 5px solid #f1c825;

    padding: 5px 10px 5px 10px;
    overflow-x: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f9fe+0,d6f0fd+100;White+3D+%232 */
    background: rgb(242, 249, 254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242, 249, 254, 1) 0%, rgba(214, 240, 253, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe', endColorstr='#d6f0fd', GradientType=0); /* IE6-9 */
}

.CodeMirror .trace_line {
    border: 2px solid red;
    margin: 0px 1px;
    background-color: #310400;
}

/* Styles for bug trace window */
#trace_window {
    overflow-x: auto;
    overflow-y: auto;
}

#trace_window ol {
    padding: 0px 0px 2px 0px;
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 22px;
    color: #91041d;
    list-style-position:inside;
}

#trace_window ol li {
    width: auto;
}

#trace_window ol li:hover {
    background-color: rgba(173, 198, 255, 0.65);
    color: black;
    cursor: pointer;
}

#trace_window ol li.selected {
    border: 2px solid #adc6ff;
    background-color: rgba(173, 198, 255, 0.65);
}

#trace_window ol li p {
    padding-left: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-style: normal;
    font-family: inherit;
    font-size: 16px;
    color: #000000;
    /*border-left: 1px solid #adc6ff;*/
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #1c96ed;
    cursor: pointer;
}

.dialog-msg {
    font-size: 18px;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em 0.3em 0.3em 0;
}

/*For the cross reference function*/
.entity {
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: currentColor;
}

.highlightedSymbol {
    background-color: #4169E1;
}

/*.bottom_sub_panel {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*width: 50%;*/
    /*padding: 10px;*/
    /*overflow: auto;*/
/*}*/

/*#bottom_left_panel {*/
    /*left: 0;*/
/*}*/

/*#bottom_right_panel {*/
    /*right: 0;*/
/*}*/

/* Styles for report comments */
#report_detail_panel {
    padding: 10px;
    overflow: auto;
}

.comment-textarea {
    margin-bottom: 10px;
}

.comments-list {
    list-style: none;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 0 10px;
}

.comment {
    border-top: 1px solid #DDD;
}

.comment:first-child {
    border-top: none;
}

.comment>h5 {
    color: #3572b0;
    font-weight: bold;
    margin: 5px 0;
}

.comment>p {
    margin-bottom: 5px;
}

.comment-actions {
    list-style: none;
    padding: 0 10px 25px 10px;
    font-size: 12px;
}

.comment-actions>li:first-child:before {
    content: none;
}

.comment-actions>li:before {
    content: "\2022";
    color: #707070;
    padding: 0 6px 0 6px;
}
.comment-actions>li {
    float: left;
}

.comment-actions>li>a {
    color: #707070;
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-pp {
        width: 450px;
    }
}
