<!DOCTYPE html>
<html style=""><!--<![endif]-->

<!-- Jinja global macros-->
{% macro get_static_url(sub_folder, file_name) -%}
    {{ url_for("static", filename="%s/%s" % (sub_folder, file_name) ) }}
{%- endmacro %}

{% macro get_js_file(file_name) -%}
    {% set url = get_static_url("libs", file_name) %}
    <script type="text/javascript" src="{{ url }}"></script>
{%- endmacro %}

{% macro get_css_file(file_name) -%}
    {% set url = get_static_url("css", file_name) %}
    <link rel="stylesheet" type="text/css" href="{{ url }}">
{%- endmacro %}

{% macro get_css_in_lib(file_name) -%}
    {% set url = get_static_url("libs", file_name) %}
    <link rel="stylesheet" type="text/css" href="{{ url }}">
{%- endmacro %}

{% macro get_image_file(file_name, title_s="", _class="", click_event="") -%}
    {% set url = get_static_url("imgs", file_name) %}
    <img src="{{url}}" title="{{title_s}}" class="{{_class}}" onclick="{{click_event}}">
{%- endmacro %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />

    <title>SourceBrella Pinpoint</title>

    <!-- Loading common CSS and JavaScript files-->

    {{ get_css_file("bootstrap/bootstrap.css") }}
    {{ get_css_file("bootstrap/bootstrap-select.min.css") }}
    {{ get_css_file("animate.css") }}

    {{ get_js_file("jquery/jquery-1.9.1.min.js") }}
    {{ get_js_file("jquery/jquery-migrate-1.2.1.js") }}
    {{ get_js_file("jquery/jquery-livequery.js") }}
    {{ get_js_file("bootstrap/bootstrap.js") }}
    {{ get_js_file("bootstrap/bootstrap-select.min.js") }}
    {{ get_js_file("bootstrap/bootstrap-notify.js") }}

    <!-- Loading codemirror CSS and JavaScript files-->
    {{ get_css_in_lib("codemirror/lib/codemirror.css") }}
    {{ get_css_in_lib("codemirror/theme/monokai.css") }}
    {{ get_css_in_lib("codemirror/addon/fold/foldgutter.css") }}
    {{ get_css_in_lib("codemirror/addon/dialog/dialog.css") }}
    {{ get_css_in_lib("codemirror/addon/search/matchesonscrollbar.css") }}

    {{ get_js_file("codemirror/lib/codemirror.js") }}
    {{ get_js_file("codemirror/mode/clike.js") }}
    {{ get_js_file("codemirror/addon/edit/matchbrackets.js") }}
    {{ get_js_file("codemirror/addon/fold/foldcode.js") }}
    {{ get_js_file("codemirror/addon/fold/foldgutter.js") }}
    {{ get_js_file("codemirror/addon/fold/brace-fold.js") }}
    {{ get_js_file("codemirror/addon/fold/comment-fold.js") }}
    {{ get_js_file("codemirror/addon/fold/indent-fold.js") }}
    {{ get_js_file("codemirror/addon/dialog/dialog.js") }}
    {{ get_js_file("codemirror/addon/search/searchcursor.js") }}
    {{ get_js_file("codemirror/addon/search/search.js") }}
    {{ get_js_file("codemirror/addon/scroll/annotatescrollbar.js") }}
    {{ get_js_file("codemirror/addon/search/matchesonscrollbar.js") }}
    {{ get_js_file("codemirror/addon/selection/active-line.js") }}

    {# datatables CSS and JS files #}
    {{ get_css_file("jquery/datatables.min.css") }}
    {{ get_js_file("jquery/datatables.min.js") }}
    {{ get_js_file("jquery/datatables.colResize.js") }}

    {# Pinpoint CSS and JS files  #}
    {{ get_css_file("custom-styles.css") }}

    {{ get_js_file("source_manager.js") }}
    {{ get_js_file("bugview_panel.js") }}
    {{ get_js_file("widgets/compare_panel.js") }}
    {{ get_js_file("widgets/filter_panel.js") }}
    {{ get_js_file("widgets/message_dialog.js") }}
    {{ get_js_file("widgets/filter_cid_dialog.js") }}
</head>

<body>
<!--[if lt IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- /header -->
<header>
    <nav id="top_bar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pp-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="">
                    {{ get_image_file('ting_oracle.gif', "A sweet cat", 'brand ting-brand') }}
                </a>
            </div>

            <div id="pp-navbar-collapse" class="collapse navbar-collapse">
                <p id="banner_title">
                    <i style="font-family: Oswald, Helvetica, sans-serif;">
                        {{ top_banner_title }}
                    </i>
                </p>

                <ul class="nav navbar-nav navbar-right">
                    {% if g.user %}
                        <p id="login_info" class="navbar-text">
                            Welcome back,
                            <a href="/logout" title="Click to logout">
                                <i style="font-family: Oswald, Helvetica, sans-serif; color: red;">
                                     {{ g.user.get_id() }}
                                </i>
                            </a>
                        </p>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>

<!-- Main Interface -->
<div class="pp-container">
    <div id="bug_view_panel">
        <div id="main_grid" class="grid">
            <div id="left_grid" class="grid">
                {% include 'widgets/control_panel.html' %}
                {% include 'widgets/compare_panel.html' %}
                <div id="left_resize_bar" class="resize_bar vertical_resize_bar"></div>
            </div>
            <div id="middle_grid" class="grid">
                <div id="code_window"></div>
            </div>
            <div id="right_grid" class="grid">
                <div id="right_resize_bar" class="resize_bar vertical_resize_bar"></div>
                <div id="trace_window" class="pp_panel right_panel"></div>
            </div>
        </div>
        <div id="bottom_grid" class="grid">
            <div id="bottom_resize_bar" class="resize_bar horizontal_resize_bar"></div>
            {% include 'widgets/report_detail_panel.html' %}
        </div>
    </div>
</div>

<div id="left_tool_bar" class="tool_bar">
    <span id="tool_control" class="tool_button active">Control Panel</span>
</div>
<div id="right_tool_bar" class="tool_bar">
    <span id="tool_trace" class="tool_button active">Trace Window</span>
</div>

<!-- /footer -->
<footer id="foot_bar">
{#    Pinpoint is created by <i><b style="color: red">Prism Lab</b></i>, HKUST#}
{% if ppr_type == "online" %}
    <span id="tool_br_detail" class="tool_button">Report Comments</span>
{% endif %}
</footer>

<!-- Common widgets for pp-report and pp-online -->
{% include 'widgets/compare_dialog.html' %}
{% include 'widgets/filter_dialog.html' %}
{% include 'widgets/message_dialog.html' %}
{% include 'widgets/filter_cid_dialog.html' %}

<!-- Scripts before loading derived contents -->
<script>
    var ppr_type = "{{ ppr_type }}";
    var PPR_ONLINE = "online";
    var PPR_LOCAL = "local";

    {% if ppr_type == "online" %}
    var user_name = "{{ g.user.get_id() }}";
    {% endif %}

    // Get Jquery objects to UI elements
    var top_bar = $("#top_bar");
    var foot_bar = $("#foot_bar");
    var bug_view_panel = $("#bug_view_panel");

    var tool_control = $("#tool_control");
    var tool_trace = $("#tool_trace");
    var tool_br_detail = $("#tool_br_detail");

    var main_grid = $("#main_grid");
    var left_grid = $("#left_grid");
    var middle_grid = $("#middle_grid");
    var right_grid = $("#right_grid");
    var bottom_grid = $("#bottom_grid");

    var control_panel = $("#control_panel");
    var summary_table = $("#summary_table");
    var context_menu = $("#context_menu");
    var trace_window = $("#trace_window");
    var code_window = $("#code_window");

    var proj_selector = $("#proj_selector");
    var modl_selector = $("#modl_selector");
    var rep_selector = $("#rep_selector");

    var proj_menu_lis = $("span#proj_menu_group>ul>li");
    var modl_menu_lis = $("span#modl_menu_group>ul>li");
    var rep_menu_lis = $("span#rep_menu_group>ul>li");

    var left_grid_width = 27;
    var middle_grid_width = 59;
    var right_grid_width = 14;
    var main_grid_height = 100;
    var bottom_grid_height = 30;

    // bug_descriptions is updated every time the summary table is filled with new data.
    var bug_descriptions = {};

    // init codemirror
    var code_renderer = CodeMirror(code_window.get(0), {
        mode:  "text/x-c++src",
        matchBrackets: true,
        theme: "monokai",
        readOnly: true,
        cursorBlinkRate: -1,
        styleActiveLine: true,
        // A larger viewport can persist the highlighted symbols when user scrolling
        // But large viewport can significantly degrade performance
        viewportMargin: 25,
        lineNumbers: true,
        lineWrapping: true,
        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        extraKeys: {"Ctrl-F": "findPersistent"}
    });

    var notify_settings = {
        mouse_over: 'pause',
        newest_on_top: true,
        offset: {
            x: 29,
            y: 59
        }
    };

    function process_location_str(location_str) {
        var regex = /^[^(a-z | A-Z)]+/;
        var exec_res = regex.exec(location_str);
        if (!exec_res) {
            return location_str;
        }

        var reverse_str = exec_res[0].split("").reverse().join("");
        location_str = location_str.replace(regex, "");
        location_str += reverse_str;
        return location_str;
    }

    var dataTable_config = {
        searching:      false,
        info:           false,
        deferRender:    true,
        scrollX:        true,
        lengthChange:   false,
        pageLength:     50,
        dom:            "Z<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12'p>>",
        colResize: {
            tableWidthFixed: false
        },
        language: {
            paginate: {
                previous:   "<",
                next:       ">"
            }
        },
        columns: [
            { data: 'Identity', width: '12%' },
            { data: 'BugType', width: '18%' },
            { data: function(row) {
                // Using rtl direction css will cause a problem that characters before the first English alphabet
                // will be displayed at the end of the text in reverse order.
                // I process the text to solve the problem, since I haven't found a better way.
                var location_str = row["File"] + ":" + row["Line"];
                return process_location_str(location_str);
            }, width: '50%', className: 'bug_loc_td' },
            { data: 'Score', width: '8%', type: 'num' },
            { data: 'Steps', width: '6%' },
            { data: 'ClusterId', width: '6%'}
        ],
        createdRow: function(row, data, index) {
            var is_dominated = data["Dominated"];
            var is_valid = data["Valid"];
            var tr = $(row);

            tr.data("br_id", data["Identity"]);

            if (!is_valid && is_dominated) {
                tr.addClass("dom_and_invalid");
            }
            else if (!is_valid) {
                tr.addClass("invalid");
            }
            else if (is_dominated) {
                tr.addClass("dominated");
            }

            if (data.hasOwnProperty("Viewed")){
                tr.addClass("viewed");
            }

            var type_td = tr.children().eq(1);
            var bug_type = data["BugType"];

            if (bug_descriptions.hasOwnProperty(bug_type)) {
                type_td.attr("title", bug_descriptions[bug_type]);
            }

            var location_td = tr.children().eq(2);
            var location_str = data["File"] + ":" + data["Line"];
            location_td.attr("title", location_str);
        }
    };

    summary_table.DataTable(dataTable_config);
    // Select the summary table scrollBody element after initiating DataTable widget for summary table.
    var summary_table_scrollBody = $("div#summary_table_wrapper .dataTables_scrollBody");

    // init source manager
    var source_manager = SourceManager(code_window, code_renderer);
    source_manager.init();

    // widgets
    var compare_widget = create_compare_reports_widget(proj_selector, rep_selector,
            dataTable_config, trace_window, source_manager);

    var filter_dialog = create_filter_dialog();
    var filter_cid_dialog = FilterCidDialog();
</script>

{% block content %}

    {# Filled by derived HTML files #}

{% endblock %}

<!-- Scripts after loading the derived contents -->
<script>

    function adjust_size()
    {
        {% if ppr_type == "online" %}
        // dropdown lists height: 34 * 3;
        // margins height: 3 * 4;
        // the sum of table header and pagination component heights: 72;
        // the sum of the heights mentioned above is 186.
        var summary_table_scroll_height = main_grid.height() - 186;
        {% else %}
        // dropdown lists height: 34;
        // margins height 3 * 2;
        // the sum of table header and pagination component heights: 72;
        // the sum of the heights mentioned above is 112.
        var summary_table_scroll_height = main_grid.height() - 112;
        {% endif %}

        summary_table_scrollBody.height(summary_table_scroll_height);
        compare_widget.adjust_compare_panel();
    }

    function add_easter_egg_handlers()
    {
        // Create a new page-wide style element
        var styleElement = document.createElement("style");
        styleElement.type = "text/css";
        document.head.insertBefore(styleElement, null);

        // Create two style rules in the style block
        var styleSheet = styleElement.sheet;
        var ruleNum = styleSheet.cssRules.length;

        styleSheet.insertRule(
                ".CodeMirror .trace_line {}", ruleNum);

        var trace_line_rule = styleSheet.cssRules[ruleNum++];

        styleSheet.insertRule(
                ".highlightedSymbol {}", ruleNum);

        var crossref_highlight_rule = styleSheet.cssRules[ruleNum];

        // double click the top bar to change code rendering style
        $("#top_bar").dblclick(function () {
            if (code_renderer.getOption("theme") == "monokai") {
                code_renderer.setOption("theme", "default");
                trace_line_rule.style["background-color"] = "#EDE9E0";
                crossref_highlight_rule.style["background-color"] = "#FFFF00";
            } else {
                code_renderer.setOption("theme", "monokai");
                trace_line_rule.style["background-color"] = "#310400";
                crossref_highlight_rule.style["background-color"] = "#4169E1";
            }
        });
    }

    function add_ui_handlers() {
        var left_grid_width = 27;
        var middle_grid_width = 59;
        var right_grid_width = 14;
        var main_grid_height = 100;
        var bottom_grid_height = 30;

        var min_left_width = 20;
        var min_middle_width = 40;
        var min_right_width = 10;
        var min_main_height = 50;
        var min_bottom_height = 15;

        var tool_control_switch = true;
        var tool_trace_switch = true;
        var tool_br_detail_switch = false;

        tool_control.on("click", function() {
            if (tool_control_switch) {
                left_grid.hide();
                tool_control.removeClass("active");
                middle_grid.css("left", "0");

                if (tool_trace_switch) {
                    middle_grid.width(middle_grid_width + left_grid_width + "%");
                } else {
                    middle_grid.width("100%");
                }
            } else {
                left_grid.width(left_grid_width + "%");
                left_grid.show();
                tool_control.addClass("active");
                middle_grid.css("left", left_grid_width + "%");

                if (tool_trace_switch) {
                    middle_grid.width(middle_grid_width + "%");
                } else {
                    middle_grid.width(middle_grid_width + right_grid_width + "%");
                }
            }
            tool_control_switch = !tool_control_switch;
        });

        tool_trace.on("click", function() {
            if (tool_trace_switch) {
                right_grid.hide();
                tool_trace.removeClass("active");

                if (tool_control_switch) {
                    middle_grid.width(middle_grid_width + right_grid_width + "%");
                } else {
                    middle_grid.width("100%")
                }
            } else {
                right_grid.css("left", (100 - right_grid_width) + "%");
                right_grid.width(right_grid_width + "%");
                right_grid.show();
                tool_trace.addClass("active");

                if (tool_control_switch) {
                    middle_grid.width(middle_grid_width + "%");
                } else {
                    middle_grid.width(middle_grid_width + left_grid_width + "%");
                }
            }
            tool_trace_switch = !tool_trace_switch;
        });

        {% if ppr_type == "online" %}
            tool_br_detail.on("click", function() {
                if (tool_br_detail_switch) {
                    bottom_grid.hide();
                    tool_br_detail.removeClass("active");
                    main_grid_height = 100;
                    main_grid.height(main_grid_height + "%");
                    adjust_size();
                } else {
                    bottom_grid.show();
                    tool_br_detail.addClass("active");
                    main_grid_height =  main_grid_height - bottom_grid_height;
                    main_grid.height(main_grid_height + "%");
                    adjust_size();

                    if (cur_view_panel && cur_view_panel.get_onview_br_id() >= 0) {
                        report_detail_panel.load_report_comments(
                            cur_view_panel.get_brf_id(),
                            cur_view_panel.get_onview_br_id());
                    }
                }
                tool_br_detail_switch = !tool_br_detail_switch;
            });
        {% endif %}

        var left_resize_bar = $("#left_resize_bar");
        var right_resize_bar = $("#right_resize_bar");
        var bottom_resize_bar = $("#bottom_resize_bar");

        var left_resizing = false;
        var right_resizing = false;
        var bottom_resizing = false;

        var tool_bar_width = parseFloat(bug_view_panel.css("left"));
        var top_bar_height = parseFloat(bug_view_panel.css("top"));

        left_resize_bar.on("mousedown", function(event) {
            event.preventDefault();
            event.stopPropagation();
            left_resizing = true;
        });

        right_resize_bar.on("mousedown", function(event) {
            event.preventDefault();
            event.stopPropagation();
            right_resizing = true;
        });

        {% if ppr_type == "online" %}
            bottom_resize_bar.on("mousedown", function(event) {
                event.preventDefault();
                event.stopPropagation();
                bottom_resizing = true;
            });
        {% endif %}

        $(document)
            .on("mouseup", function() {
                left_resizing = false;
                right_resizing = false;
                bottom_resizing = false;
                bug_view_panel.css("cursor", "auto");
            })
            .on("mousemove", function(event) {
                if (left_resizing) {
                    bug_view_panel.css("cursor", "col-resize");

                    var new_px_width = event.pageX - tool_bar_width;

                    var main_px_width = main_grid.width();
                    var new_left_width = new_px_width / main_px_width * 100;

                    if (new_left_width < min_left_width)
                        new_left_width = min_left_width;

                    var new_middle_width = 100 - right_grid_width - new_left_width;
                    if (new_middle_width < min_middle_width) {
                        // Only when user drags the left resize bar to the right, this branch can be executed.
                        // The calculated middle grid width is smaller than the minimum width,
                        // we set the width of middle grid to this minimum, and try to reduce the width of right grid.
                        middle_grid_width = min_middle_width;

                        var new_right_width = 100 - new_left_width - min_middle_width;
                        if (new_right_width < min_right_width) {
                            left_grid_width = 100 - min_middle_width - min_right_width;
                            right_grid_width = min_right_width;
                        } else {
                            left_grid_width = new_left_width;
                            right_grid_width = new_right_width;
                        }

                        left_grid.width(left_grid_width + "%");
                        middle_grid.css("left", left_grid_width + "%");

                        if (tool_trace_switch) {
                            middle_grid.width(middle_grid_width + "%");
                            right_grid.css("left", (100 - right_grid_width) + "%");
                            right_grid.width(right_grid_width + "%");
                        } else {
                            middle_grid.width(middle_grid_width + right_grid_width + "%");
                        }

                    } else {
                        // The widths of left grid and middle grid are changed.
                        left_grid_width = new_left_width;
                        middle_grid_width = new_middle_width;

                        left_grid.width(left_grid_width + "%");
                        middle_grid.css("left", left_grid_width + "%");

                        if (tool_trace_switch) {
                            middle_grid.width(middle_grid_width + "%");
                        } else {
                            middle_grid.width(middle_grid_width + right_grid_width + "%");
                        }

                    }
                } else if (right_resizing) {
                    bug_view_panel.css("cursor", "col-resize");

                    new_px_width = event.pageX - tool_bar_width;
                    main_px_width = main_grid.width();
                    new_right_width = (main_px_width - new_px_width) / main_px_width * 100;

                    if (new_right_width < min_right_width)
                        new_right_width = min_right_width;

                    new_middle_width = 100 - left_grid_width - new_right_width;
                    if (new_middle_width < min_middle_width) {
                        // Only when user drags the right resize bar to the left, this branch can be executed.
                        // The calculated middle grid width is smaller than the minimum width,
                        // we set the width of middle grid to this minimum, and try to reduce the width of left grid.
                        middle_grid_width = min_middle_width;

                        new_left_width = 100 - new_right_width - min_middle_width;
                        if (new_left_width < min_left_width) {
                            left_grid_width = min_left_width;
                            right_grid_width = 100 - min_left_width - min_middle_width;
                        } else {
                            left_grid_width = new_left_width;
                            right_grid_width = new_right_width;
                        }

                        if (tool_control_switch) {
                            left_grid.width(left_grid_width + "%");
                            middle_grid.css("left", left_grid_width + "%");
                            middle_grid.width(middle_grid_width + "%");
                        } else {
                            middle_grid.width(middle_grid_width + left_grid_width + "%")
                        }

                        right_grid.css("left", (100 - right_grid_width) + "%");
                        right_grid.width(right_grid_width + "%");
                    } else {
                        // The widths of middle grid and right grid are changed.
                        middle_grid_width = new_middle_width;
                        right_grid_width = new_right_width;

                        if (tool_control_switch) {
                            middle_grid.width(middle_grid_width + "%");
                        } else {
                            middle_grid.width(middle_grid_width + left_grid_width + "%");
                        }

                        right_grid.css("left", (100 - right_grid_width) + "%");
                        right_grid.width(right_grid_width + "%");
                    }

                } else if (bottom_resizing) {
                    bug_view_panel.css("cursor", "row-resize");

                    var new_px_height = event.pageY - top_bar_height;
                    var total_px_height = bug_view_panel.height();
                    var new_main_height = new_px_height / total_px_height * 100;
                    var new_bottom_height = 100 - new_main_height;

                    if (new_main_height < min_main_height) {
                        main_grid_height = min_main_height;
                        bottom_grid_height = 100 - min_main_height;
                    }
                    else if (new_bottom_height < min_bottom_height) {
                        main_grid_height = 100 - min_bottom_height;
                        bottom_grid_height = min_bottom_height;
                    } else {
                        main_grid_height = new_main_height;
                        bottom_grid_height = new_bottom_height;
                    }

                    main_grid.height(main_grid_height + "%");
                    bottom_grid.height(bottom_grid_height + "%");
                    bottom_grid.css("top", main_grid_height + "%");
                    adjust_size();
                }
            });
    }

    function init_common_feature() {
        add_easter_egg_handlers();
        add_ui_handlers();
    }

    $(window).on("load resize", adjust_size);
    $(window).on("load", init_common_feature);

</script>

</body>
</html>