<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      style=""><!--<![endif]-->

{% macro get_static_url(sub_folder, file_name) -%}
    {{ url_for("static", filename="%s/%s" % (sub_folder, file_name) ) }}
{%- endmacro %}

{% macro get_js_file(file_name) -%}
    {% set url = get_static_url("libs", file_name) %}
    <script type="text/javascript" src="{{ url }}"></script>
{%- endmacro %}

{% macro get_css_file(file_name) -%}
    {% set url = get_static_url("css", file_name) %}
    <link rel="stylesheet" type="text/css" href="{{ url }}">
{%- endmacro %}

{% macro get_image_file(file_name, title_s="", _class="", click_event="") -%}
    {% set url = get_static_url("imgs", file_name) %}
    <img src="{{url}}" title="{{title_s}}" class="{{_class}}" onclick="{{click_event}}">
{%- endmacro %}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">

    <title>Sign in | Pinpoint</title>

    {{ get_css_file("bootstrap/bootstrap.css") }}
    {{ get_css_file("custom-styles.css") }}
    {{ get_css_file("animate.css") }}

    {{ get_js_file("jquery/jquery-1.9.1.min.js") }}
    {{ get_js_file("jquery/jquery-migrate-1.2.1.js") }}
    {{ get_js_file("bootstrap/bootstrap.js") }}
    {{ get_js_file("bootstrap/bootstrap-notify.js") }}
</head>


<body>
<!--[if lt IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<div class="absolute_center login_body" id="login_box">
    {# Insert a Pinpoint banner #}
    <div class="login_title">
        <a href="#">
            {{ get_image_file('ting_oracle.gif', "A sweet cat", 'brand ting-brand-login') }}
            <h2 style="font-family: Oswald, Helvetica, sans-serif;
                text-shadow: 4px 4px 4px #aaa; padding-left: 45px">Pinpoint Login</h2>
        </a>
    </div>

    <!--Insert a form for login-->
    <div style="clear:left; margin-top: 30px;">
        <form id="login_form" method="post">
            {{form.csrf_token}}
            <div id="username_div" class="form-group">
                <label for="username_box" class="control-label">User Name</label>
                {{ form.userNameInputBox(id="username_input", class="form-control") }}
            </div>

            <div id="passwd_div" class="form-group">
                <label for="passwd_box" class="control-label">Password</label>
                {{ form.passwordInputBox(id="passwd_input", class="form-control") }}
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_chkbox" name="remember_me"> Remember me
                </label>
            </div>

            <div class="form-group">
                <input id="sign_in" type="submit" class="btn btn-default form-control"
                       name="sign_in" value="Sign In">
            </div>
            <a href="/register_user">Create an Account</a>
        </form>
    </div>
</div>

<script>
    var username_input = $("#username_input");
    var passwd_input = $("#passwd_input");

    var username_div = $("#username_div");
    var passwd_div = $("#passwd_div");

    var login_form = $("#login_form");

    var username_valid = false;
    var passwd_valid = false;

    var popover_settings = {
        container: "body",
        html: true,
        trigger: "manual"
    };

    popover_settings["content"] = "<span class='text-danger'>Please enter your user name</span>";
    username_input.popover(popover_settings);

    popover_settings["content"] = "<span class='text-danger'>Please enter your password</span>";
    passwd_input.popover(popover_settings);

    username_input.on("blur", validate_username);

    passwd_input.on("blur", validate_passwd);

    login_form.on("submit", function(event) {
        validate_username();
        validate_passwd();

        if (!(username_valid && passwd_valid)) {
            event.preventDefault();
            event.stopPropagation();
        }
    });

    function validate_username() {
        var username = username_input.val();
        if (username.length > 0) {
            username_valid = true;
            username_div.removeClass("has-error");
            username_input.popover("hide");
        } else {
            username_valid = false;
            username_div.addClass("has-error");
            username_input.popover("show");
        }
    }

    function validate_passwd() {
        var passwd = passwd_input.val();
        if (passwd.length > 0) {
            passwd_valid = true;
            passwd_div.removeClass("has-error");
            passwd_input.popover("hide");
        } else {
            passwd_valid = false;
            passwd_div.addClass("has-error");
            passwd_input.popover("show");
        }
    }

    function process_url_params()
    {
        // Look at the URL parameters and fill in the user and password automatically
        var user_name = "";
        var password = "";
        var next_parms = "";

        function decompose_parms(parm_list, offset)
        {
            var striped_parm_list = "?";
            var vars = parm_list.split("&");

            for (var i = 0; i < vars.length; i++) {
                if (vars[i] == "") continue;

                var pair = vars[i].split("=");
                if (pair[0] == "user") {
                    user_name = pair[1];
                }
                else if (pair[0] == "passwd") {
                    password = pair[1];
                }
                else if (pair[0] == "next") {
                    next_parms = pair[1];
                }
                else {
                    striped_parm_list += pair[0] + "=" + pair[1];
                }
            }

            return striped_parm_list;
        }

        decompose_parms(window.location.search.substring(1));
        var new_next_url = "";

        if (next_parms != "") {
            // The first two chars are /?
            var decoded_parms = decodeURIComponent(next_parms);
            var pair = decoded_parms.split("?");
            var endpoint = pair[0];
            var parm_str = pair[1];
            if (parm_str) {
                var striped_parms = decompose_parms(parm_str);
                new_next_url = "?next=" + encodeURIComponent(endpoint + striped_parms)
                                        + encodeURIComponent(window.location.hash);
            }
        }

        if (new_next_url) {
            window.history.replaceState(null, null, new_next_url);
        }

        if (user_name)
            username_input.val(user_name);

        if (password)
            passwd_input.val(password);

        if (user_name && password) {
            // Try to login automatically
            login_form.submit();
        }
    }

    var notify_settings = {
        newest_on_top: true,
        placement: {
            align: "center"
        },
        // delay: 0 means that the notification won't auto-close.
        delay: 0,
        type: "danger"
    };

    function show_messages() {
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    $.notify({
                            message: "{{ message }}"
                        }, notify_settings);
                {% endfor %}
            {% endif %}
        {% endwith %}
    }

    function init_view()
    {
        process_url_params();
        show_messages();
    }

    $(window).load(init_view);
</script>

</body>
</html>
