{% extends "base.html" %}

{% block content %}

{% include 'widgets/rename_proj_dialog.html' %}
{% include 'widgets/rename_modl_dialog.html' %}
{% include 'widgets/rename_rep_dialog.html' %}
{% include 'widgets/verify_root_dialog.html' %}
{% include 'widgets/confirm_dialog.html' %}
{{ get_js_file("widgets/rename_proj_dialog.js") }}
{{ get_js_file("widgets/rename_modl_dialog.js") }}
{{ get_js_file("widgets/rename_rep_dialog.js") }}
{{ get_js_file("widgets/report_detail_panel.js") }}
{{ get_js_file("widgets/verify_root_dialog.js") }}
{{ get_js_file("widgets/confirm_dialog.js") }}

<script>

    var csrftoken = "{{ csrf_token() }}";
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

</script>


<script type=text/javascript>
    "use strict";

    var view_panel_cache = {};
    var cur_view_panel = null;

    // other state variables
    var proj_selected_by_hash = false;         // used to distinguish the events triggered by human and machine
    var modl_selected_by_hash = false;

    var message_dialog = MessageDialog();
    var confirm_dialog = ConfirmDialog();
    var rename_proj_dialog = RenameProjDialog();
    var rename_modl_dialog = RenameModlDialog();
    var rename_rep_dialog = RenameRepDialog();
    var report_detail_panel = ReportDetailPanel();
    var verify_root_dialog = VerifyRootDialog();

    var enable_global_filter = true;

    function update_reports_list()
    {
        var selected_proj_option = proj_selector.find(":selected");
        if (selected_proj_option.is("#none_proj")) {
            proj_menu_lis.addClass("disabled");
            return;
        } else {
            proj_menu_lis.removeClass("disabled");
        }

        var selected_modl_option = modl_selector.find(":selected");
        if (selected_modl_option.is("#none_modl")) {
            modl_menu_lis.addClass("disabled");
            return;
        } else {
            modl_menu_lis.removeClass("disabled");
        }

        rep_selector.find("option:first-child").nextAll().remove();
        rep_menu_lis.addClass("disabled");

        var sel_proj = selected_proj_option.text();
        var sel_modl = selected_modl_option.text();
        var query_url = "/reports";
        var request_data = {
            "proj_name": sel_proj,
            "modl_name": sel_modl
        };

        $.ajax({
            type: "POST",
            url: query_url,
            contentType: 'application/json; charset=UTF-8',
            async: true,
            data: JSON.stringify(request_data),
            dataType: "json",
            success: function (rep_files_json) {
                if (rep_files_json.hasOwnProperty("login_required")) {
                    var next = window.location.hash;
                    window.location.replace("/login?next=" + next);
                    throw "";
                }

                var errmsg = rep_files_json["errmsg"];
                if (errmsg != "OK") {
                    message_dialog.open_dialog("Error", errmsg);
                    return;
                }

                // rep_files is an array of report files
                // Each item is an object with "name", "id" and "type" 3 fields
                var rep_files = rep_files_json["report_files"];

                var all_option = null;
                var last_option = null;
                var option_array = [];
                for (var i=0; i<rep_files.length; i++) {
                    var brf = rep_files[i];
                    var brf_type = brf["type"];

                    if (brf_type) {
                        if (brf_type == "all")
                            all_option = $("<option />")
                                .val(brf["id"])
                                .text("All Reports")
                                .css("font-weight", "bold")
                                .data("type", brf_type);
                        else if  (brf_type == "last")
                            last_option = $("<option />")
                                .val(brf["id"])
                                .text("Last Uploaded Reports")
                                .css("font-weight", "bold")
                                .data("type", brf_type);
                    } else {
                        var option = $("<option />").val(brf["id"]).text(brf["name"]);
                        option_array.push(option);
                    }
                }

                if (all_option) {
                    option_array.unshift($('<option data-divider="true"></option>'));
                    option_array.unshift(last_option);
                    option_array.unshift(all_option);
                }

                rep_selector.append(option_array);
                rep_selector.selectpicker('refresh');

                // Automatically expand the reports dropdown list
                if (!modl_selected_by_hash) {
                    rep_selector.selectpicker('toggle');
                    rep_selector.focus();
                }
                else {
                    modl_selected_by_hash = false;
                }

                window.location.hash = encodeURIComponent(sel_proj) + "?" + encodeURIComponent(sel_modl);
                if (cur_view_panel) {
                    report_detail_panel.clear_comments();
                    cur_view_panel.uninstall_view();
                    cur_view_panel = null;
                }
            }
        });
    }

    function update_modules_list() {
        var selected_proj_option = proj_selector.find(":selected");
        if (selected_proj_option.is("#none_proj")) {
            proj_menu_lis.addClass("disabled");
            return;
        } else {
            proj_menu_lis.removeClass("disabled");
        }

        modl_selector.find("option:first-child").nextAll().remove();
        rep_selector.find("option:first-child").nextAll().remove();
        modl_menu_lis.addClass("disabled");
        rep_menu_lis.addClass("disabled");

        var sel_proj = selected_proj_option.text();
        var query_url = "/modules";
        var request_data = {
            "proj_name": sel_proj
        };

        $.ajax({
            type: "POST",
            url: query_url,
            contentType: 'application/json; charset=UTF-8',
            async: true,
            data: JSON.stringify(request_data),
            dataType: "json",
            success: function (res_json) {
                if (res_json.hasOwnProperty("login_required")) {
                    var next = window.location.hash;
                    window.location.replace("/login?next=" + next);
                    throw "";
                }

                var errmsg = res_json["errmsg"];
                if (errmsg != "OK") {
                    message_dialog.open_dialog("Error", errmsg);
                    return;
                }

                var modules = res_json["modl_list"];
                for (var i=0; i<modules.length; i++) {
                    var modl_name = modules[i];
                    var option = $("<option/>").val(modl_name).text(modl_name);
                    modl_selector.append(option);
                }

                modl_selector.selectpicker('refresh');
                rep_selector.selectpicker('refresh');

                // Automatically expand the modules dropdown list
                if (!proj_selected_by_hash) {
                    modl_selector.selectpicker('toggle');
                    modl_selector.focus();
                }
                else {
                    proj_selected_by_hash = false;
                }

                window.location.hash = encodeURIComponent(sel_proj);
                if (cur_view_panel) {
                    report_detail_panel.clear_comments();
                    cur_view_panel.uninstall_view();
                    cur_view_panel = null;
                }
            }
        });
    }

    function update_projects_list()
    {
        // First clean the lists
        proj_selector.find("option:first-child").nextAll().remove();
        modl_selector.find("option:first-child").nextAll().remove();
        rep_selector.find("option:first-child").nextAll().remove();
        proj_menu_lis.addClass("disabled");
        modl_menu_lis.addClass("disabled");
        rep_menu_lis.addClass("disabled");

        $.ajax({
            type: "GET",
            url: "/projects",
            async: true,
            success: function (proj_json) {
                if (proj_json.hasOwnProperty("login_required")) {
                    var next = window.location.hash;
                    window.location.replace("/login?next=" + next);
                    throw "";
                }

                var errmsg = proj_json["errmsg"];
                if ( errmsg != "OK") {
                    message_dialog.open_dialog("Error", errmsg);
                    return;
                }

                // Fill the select box
                $(proj_json["proj_list"]).each(
                        function (index, proj_name) {
                            var option = $("<option />").val(index).text(proj_name);
                            proj_selector.append(option);
                        }
                );

                proj_selector.selectpicker('refresh');
                modl_selector.selectpicker('refresh');
                rep_selector.selectpicker('refresh');
            }
        });
    }

    /**
     * Use BugViewPanel to load report summaries.
     * @param br_id: If this param is specified, it will open corresponding bug report.
     */
    function show_reports(br_id)
    {
        var sel_proj_option = proj_selector.find(":selected");
        if (sel_proj_option.is("#none_proj")) {
            proj_menu_lis.addClass("disabled");
            return;
        } else {
            proj_menu_lis.removeClass("disabled");
        }

        var sel_modl_option = modl_selector.find(":selected");
        if (sel_modl_option.is("#none_modl")) {
            modl_menu_lis.addClass("disabled");
            return;
        } else {
            modl_menu_lis.removeClass("disabled");
        }

        var sel_rep_option = rep_selector.find(":selected");
        if (sel_rep_option.is("#none_rep")) {
            rep_menu_lis.addClass("disabled");
            return;
        } else {
            rep_menu_lis.removeClass("disabled");
        }

        var sel_proj = sel_proj_option.text();
        var sel_modl = sel_modl_option.text();
        var sel_rep = sel_rep_option.val();

        window.location.hash = encodeURIComponent(sel_proj) + "?" + encodeURIComponent(sel_modl) + "?" + sel_rep;

        // Clear visit info for last BugViewPanel.
        if (cur_view_panel) {
            cur_view_panel.clear_visit_info();
        }

        cur_view_panel = view_panel_cache[sel_rep];

        if (!cur_view_panel) {
            cur_view_panel = BugViewPanel(sel_proj, sel_modl, sel_rep,
                    summary_table, trace_window, source_manager, true);

            if (!cur_view_panel.init_view()) {
                var errmsg = "Bug report <i>" + sel_rep +
                    "</i> seems not there. Please refresh the bug reports list.";
                message_dialog.open_dialog("Error", errmsg);
                cur_view_panel = null;
                return;
            }

            view_panel_cache[sel_rep] = cur_view_panel;
        }

        cur_view_panel.install_view();

        if (br_id !== undefined) {
            cur_view_panel.trigger_br(true, br_id);
        }
    }

    function add_projects_menu_handlers()
    {
        // Project selection updates the bug reports dropdown list
        proj_selector.change(update_modules_list);

        // Click events for project and report dropdown menus
        $("#refresh_projects").click(
                function () {
                    window.location.hash = "";
                    // Clear comments
                    if (cur_view_panel) {
                        report_detail_panel.clear_comments();
                        cur_view_panel.uninstall_view();
                        cur_view_panel = null;
                    }

                    update_projects_list();
                    // Remove all caches, cause we don't know if bug reports contents are changed
                    view_panel_cache = {};
                }
        );

        $("#rename_projects").click(function() {
            var sel_proj_option = proj_selector.find(":selected");
            if (sel_proj_option.is("#none_proj")) return;

            rename_proj_dialog.open_dialog();
        });

        function delete_project(really_delete)
        {
            var sel_proj_option = proj_selector.find(":selected");
            if (sel_proj_option.is("#none_proj")) return;

            var sel_proj = sel_proj_option.text();
            var dialog_title = really_delete ? "Delete Project" : "Trash Project";
            var dialog_msg = "Really delete project <i>" + sel_proj + "</i> ?";

            confirm_dialog
                .open_dialog(dialog_title, dialog_msg)
                .done(function() {
                    verify_root_dialog
                        .open_dialog(dialog_title, dialog_msg)
                        .done(function(root_passwd) {
                            report_detail_panel.clear_comments();

                            var cmd = "trash/";
                            if (really_delete == true) cmd = "del/";

                            var query_url = "/projects/" + cmd + encodeURIComponent(sel_proj) + "/" + root_passwd;

                            $.ajax({
                                type: "POST",
                                url: query_url,
                                async: false,               // Just wait for delete operation finish
                                dataType: "json",
                                success: function (proj_json) {
                                    if (proj_json.hasOwnProperty("login_required")) {
                                        var next = window.location.hash;
                                        window.location.replace("/login?next=" + next);
                                        throw "";
                                    }

                                    var errmsg = proj_json["errmsg"];
                                    if (errmsg != "OK") {
                                        message_dialog.open_dialog("Error", errmsg);
                                        return;
                                    }

                                    sel_proj_option.remove();
                                    proj_selector.selectpicker('refresh');

                                    modl_selector.find("option:first-child").nextAll().remove();
                                    modl_selector.selectpicker('refresh');

                                    rep_selector.find("option:first-child").nextAll().remove();
                                    rep_selector.selectpicker('refresh');


                                    if (cur_view_panel) {
                                        report_detail_panel.clear_comments();
                                        cur_view_panel.uninstall_view(sel_proj);
                                        cur_view_panel = null;
                                    }
                                }
                            });
                        });
                })
                .fail(function() {
                    var settings = $.extend({}, notify_settings);
                    settings["type"] = "danger";
                    $.notify({
                        icon: "glyphicon glyphicon-heart",
                        message: "Thanks for sparing my life. ^_^"
                    }, settings);
                });
        }

        $("#trash_projects").click(
                function () {
                    delete_project(false)
                }
        );

        $("#delete_projects").click(
                function () {
                    delete_project(true)
                }
        );
    }

    function add_module_menu_handles() {
        modl_selector.change(update_reports_list);

        $("#refresh_modules").click(update_modules_list);

        function delete_module(really_delete) {
            var sel_proj_option = proj_selector.find(":selected");
            if (sel_proj_option.is("#none_proj")) return;
            var sel_modl_option = modl_selector.find(":selected");
            if (sel_modl_option.is("#none_modl")) return;

            var sel_proj = sel_proj_option.text();
            var sel_modl = sel_modl_option.text();
            var dialog_title = really_delete ? "Delete Module" : "Trash Module";
            var dialog_msg = "Really delete module <i>" + sel_modl + "</i> ?";

            confirm_dialog
                .open_dialog(dialog_title, dialog_msg)
                .done(function() {
                    verify_root_dialog
                        .open_dialog()
                        .done(function(root_passwd) {
                            report_detail_panel.clear_comments();

                            var cmd = "trash";
                            if (really_delete == true) cmd = "del";

                            var query_url = "/module/" + cmd;
                            var request_data = {
                                "passwd": root_passwd,
                                "proj_name": sel_proj,
                                "modl_name": sel_modl
                            };

                            $.ajax({
                                type: "POST",
                                url: query_url,
                                async: false,               // Just wait for delete operation finish
                                contentType: 'application/json; charset=UTF-8',
                                data: JSON.stringify(request_data),
                                dataType: "json",
                                success: function (res_json) {
                                    if (res_json.hasOwnProperty("login_required")) {
                                        var next = window.location.hash;
                                        window.location.replace("/login?next=" + next);
                                        throw "";
                                    }

                                    var errmsg = res_json["errmsg"];
                                    if (errmsg != "OK") {
                                        message_dialog.open_dialog("Error", errmsg);
                                        return;
                                    }

                                    sel_modl_option.remove();
                                    modl_selector.selectpicker('refresh');

                                    rep_selector.find("option:first-child").nextAll().remove();
                                    rep_selector.selectpicker('refresh');

                                    if (cur_view_panel) {
                                        report_detail_panel.clear_comments();
                                        cur_view_panel.uninstall_view(sel_proj);
                                        cur_view_panel = null;
                                    }
                                }
                            });
                        });
                })
                .fail(function() {
                    var settings = $.extend({}, notify_settings);
                    settings["type"] = "danger";
                    $.notify({
                        icon: "glyphicon glyphicon-heart",
                        message: "Thanks for sparing my life. ^_^"
                    }, settings);
                });
        }

        $("#trash_module").click(function() {
            delete_module(false);
        });

        $("#delete_module").click(function () {
            delete_module(true);
        });

        $("#rename_module").click(function() {
            var sel_modl_option = modl_selector.find(":selected");
            if (sel_modl_option.is("#none_modl")) return;

            rename_modl_dialog.open_dialog();
        });
    }

    function add_reports_menu_handles()
    {
        // Bug report selection updates bug view panel
        rep_selector.change(function() {
            show_reports();
        });

        $("#refresh_reports").click(update_reports_list);

        function delete_report(really_delete)
        {
            var sel_proj_option = proj_selector.find(":selected");
            if (sel_proj_option.is("#none_proj")) return;
            var sel_proj = sel_proj_option.text();

            var sel_rep_option = rep_selector.find(":selected");
            if (sel_rep_option.is("#none_rep")) return;
            if (sel_rep_option.data("type")) return;
            var sel_rep = sel_rep_option.val();

            var dialog_title = really_delete ? "Delete Report" : "Trash Report";
            var dialog_msg = "Really delete bug report <i>" + sel_rep + "</i> ?";

            confirm_dialog
                .open_dialog(dialog_title, dialog_msg)
                .done(function() {
                    verify_root_dialog
                        .open_dialog()
                        .done(function(root_passwd) {
                            report_detail_panel.clear_comments();

                            var cmd = "trash";
                            if (really_delete == true) cmd = "del";

                            var query_url = "/reports/" + cmd + "/" + sel_rep + "/" + root_passwd;

                            $.ajax({
                                type: "POST",
                                url: query_url,
                                async: false,               // Just wait for delete operation finish
                                dataType: "json",
                                success: function (proj_json) {
                                    if (proj_json.hasOwnProperty("login_required")) {
                                        var next = window.location.hash;
                                        window.location.replace("/login?next=" + next);
                                        throw "";
                                    }

                                    var errmsg = proj_json["errmsg"];
                                    if (errmsg != "OK") {
                                        message_dialog.open_dialog("Error", errmsg);
                                        return;
                                    }

                                    sel_rep_option.remove();
                                    rep_selector.selectpicker('refresh');

                                    if (cur_view_panel) {
                                        report_detail_panel.clear_comments();
                                        cur_view_panel.uninstall_view(sel_proj, sel_rep);
                                        cur_view_panel = null;
                                    }
                                }
                            });
                        });
                })
                .fail(function() {
                    var settings = $.extend({}, notify_settings);
                    settings["type"] = "danger";
                    $.notify({
                        icon: "glyphicon glyphicon-heart",
                        message: "Thanks for sparing my life. ^_^"
                    }, settings);
                });
        }

        $("#rename_reports").click(function() {
            var sel_rep_option = rep_selector.find(":selected");
            if (sel_rep_option.is("#none_rep")) return;
            if (sel_rep_option.data("type")) return;

            rename_rep_dialog.open_dialog();
        });

        $("#trash_reports").click(
                function() {
                    delete_report(false)
                }
        );

        $("#delete_reports").click(
                function () {
                    delete_report(true)
                }
        );

        $("#show_stat").click(function () {
            if (!cur_view_panel) {
                return;
            }
            // Get complete summaries for statics
            var summaries = cur_view_panel.get_bug_report_summary(true);
            var total_reports = summaries.length;
            var real_bugs = 0, dom_bugs = 0, invalid_bugs = 0;
            var n_clusters = 0;

            for (var i = 0; i < total_reports; ++i) {
                var summary = summaries[i];
                var is_dominated = summary["Dominated"];
                var is_valid = summary["Valid"];

                if (!is_dominated && is_valid) {
                    ++real_bugs;
                }
                else if (!is_valid) {
                    ++invalid_bugs;
                }
                else if (is_dominated) {
                    ++dom_bugs;
                }

                var cur_cid = parseInt(summary["ClusterId"]);
                if (!isNaN(cur_cid) && cur_cid > n_clusters)
                    n_clusters = cur_cid;
            }

            var msg = "Total bug reports = " + total_reports + "<br />";
            msg += "Real bugs = " + real_bugs + "<br />";
            msg += "Invalid bugs = " + invalid_bugs + "<br />";
            msg += "Dominated bugs = " + dom_bugs + "<br />";
            msg += "Number of clusters = " + n_clusters + "<br />";

            message_dialog.open_dialog("Report Statistics", msg);
        });

        $("#filter_by_cid").click( function () {
            if (!cur_view_panel) {
                return;
            }

            filter_cid_dialog
                .open_dialog()
                .done(function(cid) {
                    var summaries = cur_view_panel.get_bug_report_summary();
                    var filtered_summaries = summaries.filter(function(summary) {
                        return summary["ClusterId"] === cid;
                    });

                    var summary_dataTable = summary_table.DataTable();
                    summary_dataTable.clear();

                    if (filtered_summaries.length === 0) {
                        $.notify({
                            icon: 'glyphicon glyphicon-info-sign',
                            message: 'There is no report with cluster ID ' + cid + '.'
                        }, notify_settings);
                    } else {
                        summary_dataTable.rows.add(filtered_summaries);
                    }

                    summary_dataTable.draw();
                });
        });

        $("#reload_reports").click(
                function () {
                    if (cur_view_panel)
                        cur_view_panel.install_view();
                }
        );

        $("#compare").click(function() {
            if (cur_view_panel)
                compare_widget.open_config_dialog();
        });


        $("#display_cluster").click(function() {
            if (cur_view_panel)
                cur_view_panel.switch_cluster_display();
        });

        $("#display_dbginfo").click(function() {
            if (cur_view_panel)
                cur_view_panel.switch_debuginfo_display();
        });

        $("#global_filter").click(function() {
            if (!cur_view_panel)
                return;

            enable_global_filter = !enable_global_filter;
            if (enable_global_filter) {
                $.notify({
                    icon: 'glyphicon glyphicon-ok',
                    message: 'Enable global reports filter.'
                }, notify_settings);
            } else {
                $.notify({
                    icon: 'glyphicon glyphicon-remove',
                    message: 'Disable global reports filter.'
                }, notify_settings);
            }

            cur_view_panel.refresh_view();
        });

        $("#filter_by_location").click(function() {
            if (!cur_view_panel) {
                return;
            }
            filter_dialog.open_dialog();
        });
    }

    function process_url_hash()
    {
        // Look at the location hash and show relevant bug trace
        var br_hash = window.location.hash;
        if (br_hash != "") {
            // Hash format: proj_name?modl_name?brf_name?br_id
            var trace_locator = br_hash.substr(1).split("?");
            var proj_name = trace_locator[0] || "";
            var modl_name = trace_locator[1] || "";
            var brf_name = trace_locator[2] || "";
            var br_id = trace_locator[3] || "";

            // Install event handlers due to AJAX asynchronously filling data
            var finished_proc_initial_url = false;

            if (proj_name != "") {
                proj_name = decodeURIComponent(proj_name);
                proj_selector.livequery(
                        "option",
                        function () {
                            // Force to select the specified project
                            var proj_option = $(this);
                            if (proj_option.text() != proj_name)
                                return;

                            proj_selector.selectpicker('val', proj_option.val());
                            proj_option.prop("selected", true);

                            proj_selected_by_hash = true;
                            proj_selector.trigger("change");
                            proj_selector.expire("option");
                        }
                );
            }

            if (modl_name != "") {
                modl_selector.livequery(
                    "option",
                    function() {
                        // Force to select the specified module
                        var modl_option = $(this);
                        if (modl_option.text() != modl_name)
                            return;

                        modl_selector.selectpicker('val', modl_option.val());
                        modl_option.prop("selected", true);

                        modl_selected_by_hash = true;
                        modl_selector.trigger("change");
                        modl_selector.expire("option");
                    }
                );
            }

            if (brf_name != "") {
                rep_selector.livequery(
                        "option",
                        function () {
                            // Force to select the specified bug report
                            var rep_option = $(this);
                            if (rep_option.val() != brf_name)
                                return;

                            rep_selector.selectpicker('val', rep_option.val());
                            rep_option.prop("selected", true);
                            rep_selector.expire("option");
                            finished_proc_initial_url = true;

                            if (br_id == "") {
                                show_reports();
                            } else {
                                show_reports(parseInt(br_id));
                            }
                        }
                );
            }

            $(window).bind("onhashchange",
                      function() {
                          // When user clicked a bug report and changed the URL hash,
                          // it's safe to delete the livequery handlers for processing initial hashed URL link
                          if (!finished_proc_initial_url) {
                              proj_selector.expire("option");
                              rep_selector.expire("option");
                              summary_table.expire("tbody tr");
                              finished_proc_initial_url = true;
                          }
                      }
            );
        }
    }

    function init_view()
    {
        // Fill the bug reports drop list
        update_projects_list();
        add_projects_menu_handlers();
        add_module_menu_handles();
        add_reports_menu_handles();
        process_url_hash();
    }

    $(window).load(init_view);

    $(window).on("click", function() {
        context_menu.hide();
    });
</script>

{% endblock %}
