<!DOCTYPE html>
<html>

{% macro get_static_url(sub_folder, file_name) -%}
    {{ url_for("static", filename="%s/%s" % (sub_folder, file_name) ) }}
{%- endmacro %}

{% macro get_js_file(file_name) -%}
    {% set url = get_static_url("libs", file_name) %}
    <script type="text/javascript" src="{{ url }}"></script>
{%- endmacro %}

{% macro get_css_file(file_name) -%}
    {% set url = get_static_url("css", file_name) %}
    <link rel="stylesheet" type="text/css" href="{{ url }}">
{%- endmacro %}

{% macro get_image_file(file_name, title_s="", _class="", click_event="") -%}
    {% set url = get_static_url("imgs", file_name) %}
    <img src="{{url}}" title="{{title_s}}" class="{{_class}}" onclick="{{click_event}}">
{%- endmacro %}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">

    <title>Sign up | Pinpoint</title>

    {{ get_css_file("bootstrap/bootstrap.css") }}
    {{ get_css_file("custom-styles.css") }}
    {{ get_css_file("animate.css") }}

    {{ get_js_file("jquery/jquery-1.9.1.min.js") }}
    {{ get_js_file("jquery/jquery-migrate-1.2.1.js") }}
    {{ get_js_file("bootstrap/bootstrap.js") }}
    {{ get_js_file("bootstrap/bootstrap-notify.js") }}
</head>


<body>
<!--[if lt IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<div class="absolute_center login_body" id="register_box">
    {# Insert a Pinpoint banner #}
    <div class="login_title">
        <a href="#">
            {{ get_image_file('ting_oracle.gif', "A sweet cat", 'brand ting-brand-login') }}
            <h2 style="font-family: Oswald, Helvetica, sans-serif;
                text-shadow: 4px 4px 4px #aaa; padding-left: 45px">Pinpoint Sign Up</h2>
        </a>
    </div>

    <!--Insert a form for login-->
    <div style="clear:left; margin-top: 30px;">
        <form id="register_form" method="post">
            {{form.csrf_token}}

            <div id="username_div" class="form-group">
                <label for="username_input" class="control-label">User Name</label>
                {{ form.userNameInputBox(id="username_input", class="form-control", placeholder="4-16 chars") }}
            </div>

            <div id="passwd_div" class="form-group">
                <label for="passwd_input" class="control-label">Password</label>
                {{ form.passwordInputBox(id="passwd_input", class="form-control", placeholder="At least 6 chars") }}
            </div>

            <div id="confirm_passwd_div" class="form-group">
                <label for="confirm_passwd_input" class="control-label">Confirm Password</label>
                {{ form.confirmPasswordBox(id="confirm_passwd_input", class="form-control", placeholder="Re-enter your password") }}
            </div>

            <div id="root_passwd_div" class="form-group">
                <label for="root_passwd_input" class="control-label">Root Password</label>
                {{ form.rootPasswordBox(id="root_passwd_input", class="form-control") }}
            </div>

            <div class="form-group">
                <input id="register" type="submit" class="btn btn-default form-control"
                       name="register" value="Create an Account">
            </div>

            <p>Already have an account? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div>

{{ get_js_file("register.js") }}
<script>
    var notify_settings = {
        newest_on_top: true,
        placement: {
            align: "center"
        },
        // delay: 0 means that the notification won't auto-close.
        delay: 0,
        type: "danger"
    };

    function show_messages() {
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    $.notify({
                            message: "{{ message }}"
                        }, notify_settings);
                {% endfor %}
            {% endif %}
        {% endwith %}
    }

    $(window).on("load", show_messages);
</script>

</body>
</html>
