{# HTML fragment for reports comparison panel. #}

<div id="compare_panel" class="pp_panel left_panel panel panel-default" style="display: none; margin: 0;">
    <div class="panel-heading">
        <button id="compare_panel_close" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h6 class="panel-title"><b>Difference of two reports</b></h6>
    </div>

    <div class="panel panel-info" style="margin: 3px;">
        <div class="panel-heading">
            <h6 class="panel-title"><b id="report_name1"></b></h6>
        </div>
        <table id="compare_table1" class="summary_table table table-condensed">
            <thead align="right">
            <tr>
                <th title="Bug ID">ID</th>
                <th title="Bug Type">Type</th>
                <th title="Location">Location</th>
                <th title="Score">Score</th>
                <th title="Trace Length">Length</th>
                <th title="Cluster ID">CID</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="panel panel-info" style="margin: 3px;">
        <div class="panel-heading">
            <h6 class="panel-title"><b id="report_name2"></b></h6>
        </div>
        <table id="compare_table2" class="summary_table table table-condensed">
            <thead align="right">
            <tr>
                <th title="Bug ID">ID</th>
                <th title="Bug Type">Type</th>
                <th title="Location">Location</th>
                <th title="Score">Score</th>
                <th title="Trace Length">Length</th>
                <th title="Cluster ID">CID</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
