{# HTML fragment for the configuaration dialog of reports comparison. #}

<div class="modal" id="compare_config_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Compare Two Reports</h4>
            </div>

            <div class="modal-body">
                {% if ppr_type == "online" %}
                <div class="form-group">
                    <label for="comp_proj_selector">
                        Select a project
                    </label>

                    <select id="comp_proj_selector" class="form-control selectpicker show-tick"
                        data-live-search="true" data-size="15">
                        <option id="comp_none_proj" style="display:none">Select a project...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="comp_modl_selector">
                        Select a module
                    </label>

                    <select id="comp_modl_selector" class="form-control selectpicker show-tick"
                        data-live-search="true" data-size="15">
                        <option id="comp_none_modl" style="display:none">Select a module...</option>
                    </select>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="comp_rep_selector">
                        Select an adversary report
                    </label>

                    <select id="comp_rep_selector" class="form-control selectpicker show-tick"
                        data-live-search="true" data-size="15">
                        <option id="comp_none_rep" style="display:none">Select a bug report...</option>
                    </select>

                </div>
            </div>

            <div class="modal-footer">
                <button id="compare_btn" class="btn btn-primary">Compare</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
