{# UI part for confirm dialog #}

<div class="modal" id="confirm_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="confirm_title" class="modal-title"></h4>
            </div>

            <div class="modal-body">
                <div id="confirm_content" class="dialog-msg"></div>
            </div>

            <div class="modal-footer">
                <button id="confirm_btn" class="btn btn-primary">OK</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
