{# HTML segments for control panel. #}

<div id="control_panel" class="pp_panel left_panel">
{% if ppr_type == "online" %}
    {# The projects selectors and dropdown menus.#}
    <div class="form-group" style="margin: 3px;">
        <div class="selector_wrapper">
            <select id="proj_selector" class="selectpicker show-tick"
                    data-width="100%" data-live-search="true" data-size="15">
                <option id="none_proj" style="display:none">Select a project...</option>
            </select>
        </div>

        <span id="proj_menu_group" class="input-group-btn">

            <button id="refresh_projects" type="button"
                    class="btn btn-success"
                    title="Fetch the project list from server again">
                <span class="button-text">Refresh</span>
            </button>

            <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li class="disabled"><a id="rename_projects">Rename</a></li>
                <li class="disabled"><a id="trash_projects">Move to trash</a></li>
                <li class="disabled"><a id="delete_projects">Delete permanently</a></li>
            </ul>
        </span>
    </div>

    {# The modules selectors and dropdown menus.#}
    <div class="form-group" style="margin: 3px;">
        <div class="selector_wrapper">
            <select id="modl_selector" class="selectpicker show-tick"
                    data-width="100%" data-live-search="true" data-size="15">
                <option id="none_modl" style="display:none">Select a module...</option>
            </select>
        </div>

        <span id="modl_menu_group" class="input-group-btn">
            <button id="refresh_modules" type="button"
                    class="btn btn-success"
                    title="Fetch the module list from server again">
                <span class="button-text">Refresh</span>
            </button>

            <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li class="disabled"><a id="rename_module">Rename</a></li>
                <li class="disabled"><a id="trash_module">Move to trash</a></li>
                <li class="disabled"><a id="delete_module">Delete permanently</a></li>
            </ul>
        </span>
    </div>
{% endif %}

    {# The bug report files selectors and dropdown menus. #}
    <div class="form-group" style="margin: 3px;">
        <div class="selector_wrapper">
            <select id="rep_selector" class="selectpicker show-tick"
                    data-width="100%" data-live-search="true" data-size="15">
                <option id="none_rep" style="display:none">Select a report...</option>
            </select>
        </div>

        <span id="rep_menu_group" class="input-group-btn">

        {% if ppr_type == "online" %}
            <button id="refresh_reports" type="button"
                    class="btn btn-success"
                    title="Fetch the bug reports from server again">
                <span class="button-text">Refresh</span>
            </button>
        {% elif ppr_type == "local" %}
            <button id="upload_report" type="button"
                        class="btn btn-success">
                <span class="button-text">Upload</span>
            </button>
        {% endif %}

            <button type="button" class="btn btn-success dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
            {% if ppr_type == "online" %}
                <li class="disabled"><a id="compare">Compare two reports</a></li>
                <li class="disabled"><a id="reload_reports">Reload current report</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="display_cluster">Expand/Collapse clusters</a></li>
                <li class="disabled"><a id="global_filter">Enable/Disable global reports filter</a></li>
                <li class="disabled"><a id="display_dbginfo">Show/Hide debug information</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="filter_by_location">Filter reports by bug location</a></li>
                <li class="disabled"><a id="filter_by_cid">Filter reports by cluster ID</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="show_stat">Show report statistics</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="rename_reports">Rename</a></li>
                <li class="disabled"><a id="trash_reports">Move to trash</a></li>
                <li class="disabled"><a id="delete_reports">Delete permanently</a></li>
            {% else %}
                <li class="disabled"><a id="compare">Compare two reports</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="display_cluster">Expand/Collapse clusters</a></li>
                <li class="disabled"><a id="global_filter">Enable/Disable global reports filter</a></li>

                <li role="separator" class="divider"></li>
                <li class="disabled"><a id="filter_by_location">Filter reports by bug location</a></li>
            {% endif %}
            </ul>
        </span>
    </div>

    <table id="summary_table" class="summary_table table table-condensed">
        <thead align="right">
            <tr>
                <th title="Bug ID">ID</th>
                <th title="Bug Type">Type</th>
                <th title="Location">Location</th>
                <th title="Score">Score</th>
                <th title="Trace Length">Length</th>
                <th title="Cluster ID">CID</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

{% if ppr_type == "online" %}
    <ul id="context_menu" class="dropdown-menu" role="menu">
        <li><a id="add_comment">Add Comment</a></li>
    </ul>
{% endif %}
</div>
