{# UI part for cluster ID filter dialog #}

<div class="modal" id="filter_cid_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Filter reports by cluster ID</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="filter_cid_input">Cluster ID</label>
                    <input class="form-control" type="text" name="new_name" id="filter_cid_input">
                    <div id="filter_cid_errmsg" style="margin-top: 5px;" class="text-danger">Wrong Cluster ID format.</div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="filter_cid_btn" class="btn btn-primary">OK</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
