{# UI part for filter dialog #}

<div class="modal" id="filter_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Filter reports by bug location</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="filter_regex">Location regex</label>
                    <input class="form-control" type="text" name="filter_regex" id="filter_regex">
                    <div>e.g., <b>^some_dir/</b>, <b>.cpp$</b> and <b>some_dir/\S+.h$</b></div>
                    <div id="regex_errmsg" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label>Filter type</label><br/>
                    <label class="radio-inline">
                        <input type="radio" name="filter_type" value="include" checked>
                        Include
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="filter_type" value="exclude">
                        Exclude
                    </label>
                </div>
            </div>

            <div class="modal-footer">
                <button id="filter_btn" class="btn btn-primary">Filter</button>
                <button id="filter_clear_btn" class="btn btn-primary">Clear Filter</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
