{# The UI part for rename module dialog #}

<div class="modal" id="rename_modl_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Rename Module</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="new_modl_name">New Name:</label>
                    <input class="form-control" type="text" name="new_name" id="new_modl_name">
                    <div id="rename_modl_errmsg" class="text-danger"></div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="rename_modl_btn" class="btn btn-primary">Rename</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
