{#  HTML fragment for bug report detail panel. #}

<div id="report_detail_panel" class="pp_panel bottom_panel">
    <h4 id="comments_header">Please select a bug report first.</h4>
    <div id="comments_content" style="display: none; margin-bottom: 10px">
        <textarea id="comment_textarea" class="form-control comment-textarea" rows="1" placeholder="What do you want to say?"></textarea>
        <button id="add_comment_btn" class="btn btn-success" style="display: none;">Comment</button>
        <button id="cancel_comment_btn" class="btn btn-default" style="display: none; margin-left: 10px;">Cancel</button>
    </div>

    <ol id="comments_ol" class="comments-list"></ol>
</div>
