{# UI part for uploading dialog#}

<div class="modal" id="upload_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Upload Bug Report</h4>
            </div>

            <div class="modal-body">
                <form>
                    <p class="validateTips" style="display: none"></p>

                    <div class="form-group">
                        <label for="txt_proj_name">Project Name</label>
                        <input class="form-control" type="text" name="proj_name" id="txt_proj_name">
                    </div>

                    <div class="form-group">
                        <label for="txt_module">Module</label>
                        <input class="form-control" type="text" name="module" id="txt_module"
                               placeholder="Optional. Default value is the original file name.">
                    </div>

                    <div class="form-group">
                        <label for="txt_rep_name">Report Name</label>
                        <input class="form-control" type="text" name="rep_name" id="txt_rep_name"
                               placeholder="Optional.">
                    </div>

                    <div class="form-group">
                        <label for="txt_server_addr">Remote Server</label>
                        <input type="text" name="server_addr" id="txt_server_addr" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txt_user_name">User Name</label>
                        <input type="text" name="user_name" id="txt_user_name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="txt_user_passwd">Password</label>
                        <input type="password" name="user_passwd" id="txt_user_passwd" class="form-control">
                    </div>

                    <!-- Allow form submission with keyboard without duplicating the dialog button -->
                    <input type="submit" tabindex="-1" style="display: none;">
                </form>
            </div>

            <div class="modal-footer">
                <button id="upload_btn" class="btn btn-primary">Upload</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
