{# UI part for verify root dialog #}

<div class="modal" id="verify_root_dialog" tabindex="-1">
    <div class="modal-dialog modal-pp">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" tabindex="-1">
                    <span>&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Root Password</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <input class="form-control" type="password" name="new_name"
                           id="root_passwd_input" placeholder="Please input root password">
                </div>
            </div>

            <div class="modal-footer">
                <button id="verify_root_btn" class="btn btn-primary">OK</button>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
